###########
# General #
###########

TAGS
*.cm*
*.o
*.a
*.annot
#ocamlyacc -v
*.output
*~
*_DEP
*.depend
\#*
.\#*
.DS_Store
*.tmp

#artifacts from execution
tis_kernel_journal.ml
/.tis-kernel/
/tis-kernel-*.tar.gz
/.merlin
/headers/hdrck

#build

configure
autom4te.cache
.log.autoconf
/.depend
/config.log
/config.status
/tis-kernel-*.tar.gz
/.log.autoconf
/.Makefile.user
/ocamlgraph/
*.check_mli_exists
Makefile.plugin.generated

#tests
/tests/ptests_config
/tests/*/result/
/tests/*/result_*/
/tests/journal/intra.byte
/tests/misc/my_visitor_plugin/my_visitor.opt
/tests/misc/my_visitor.sav
/tests/misc/*.state
/tests/*/*.opt
/tests/pdg/*.dot
/xunit.xml

#share
/share/Makefile.config
/share/Makefile.dynamic_config
/share/Makefile.kernel
/share/tis-kernel.rc
#created by create_share_link target
/share/.gitignore
/share/manuals/
/share/license/

#doc
/doc/manuals/
/doc/*/*.dot
/doc/*/*.aux
/doc/*/*.bbl
/doc/*/*.blg
/doc/*/*.cb*
/doc/*/*.ilg
/doc/*/*.ind
/doc/*/*.toc
/doc/*/*.lof
/doc/*/*.log
/doc/*/*.out
/doc/*/*.idx
/doc/*/*.fls
/doc/*/*.fdb_latexmk

/doc/code/print_api/*.html
/doc/code/print_api/*.dot
/doc/code/print_api/lexer.ml
/doc/code/print_api/grammar.mli
/doc/code/print_api/grammar.ml
/doc/code/print_api/dynamic_plugins.mli
/doc/code/print_api/_build/

#lib
/lib/fc/
/lib/plugins/*.mli
/lib/plugins/*.ml
/lib/plugins/gui/
/lib/plugins/META.tis-kernel-*
/lib/plugins/.placeholders_ready

#plugins
/share/e-acsl/
/share/c2fc/
/src/plugins/*/configure
/src/plugins/*/.depend
/src/plugins/*/autom4te.cache/
/src/plugins/*/doc/*/*.dot
/src/plugins/*/doc/*/*.aux
/src/plugins/*/doc/*/*.bbl
/src/plugins/*/doc/*/*.blg
/src/plugins/*/doc/*/*.cb*
/src/plugins/*/doc/*/*.ilg
/src/plugins/*/doc/*/*.ind
/src/plugins/*/doc/*/*.toc
/src/plugins/*/doc/*/*.lof
/src/plugins/*/doc/*/*.log
/src/plugins/*/doc/*/*.out
/src/plugins/*/doc/*/*.idx

# WP/Coq Generated file
/lia.cache

# generated ML files

/src/libraries/stdlib/FCDynlink.ml
/src/libraries/stdlib/integer.ml
/src/libraries/utils/json.ml
/src/kernel_internals/runtime/toplevel_boot.ml
/src/kernel_internals/runtime/config.ml
/src/kernel_internals/runtime/tis_kernel_config.ml
/src/kernel_internals/parsing/logic_lexer.ml
/src/kernel_internals/parsing/logic_parser.ml
/src/kernel_internals/parsing/logic_parser.mli
/src/kernel_internals/parsing/logic_preprocess.ml
/src/kernel_internals/parsing/clexer.ml
/src/kernel_internals/parsing/cparser.ml
/src/kernel_internals/parsing/cparser.mli
/src/plugins/value/domains/apron/apron_domain.ml

# ocp-lint
/src/.ocplint.old*
/src/_olint

#######################
# should remain empty #
#######################
